* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    transition: 0.3s;

}

body { 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    align-items: center;
    background-color: white;
    border-bottom: 4px solid #028fc7;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    padding-right: 5rem;
}

.nav-button {
    font-size: 20px;
    padding: 5px 15px;
    border: 2px solid transparent;
    border-radius: 50px;
    background-color: #d83430; /* Background color for the last button */
    color: white; /* Text color for the last button */
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button.no-bg {
    background-color: transparent; /* No background for the first two buttons */
    color: black; /* Text color for the first two buttons */
}

.nav-button.no-bg::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px; /* Height of the line */
    background-color: black; /* Color of the line */
    position: absolute;
    left: 0;
    bottom: -5px; /* Position it just below the button */
    transform: scaleX(0); /* Initially hide the line */
    transition: transform 0.3s ease; /* Animation for line */
}

.nav-button.no-bg:hover::after {
    transform: scaleX(1); /* Show the line on hover */
}

.nav-button:hover {
    background-color: white; /* Darker background for the last button on hover */
    color: #d83430; /* Ensure text stays white on hover */
    border-color: #d83430;
}


/* =============== Navbar ================================================== */
.main-nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px; 
    border-bottom: 10px solid #f0f0f0;
}

.main-nav ul li {
    margin: 0 15px;
}

.main-nav ul li button {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.searchbar {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

/* ============= Search Box start ================== */



/* =====================  Main Poster =========================== */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #028fc7;
    color: white;
    padding: 50px;
    border-bottom: 20px solid #f0f0f0;
    margin-top: -10px;
}

.hero-text {
    max-width: 50%;
    margin: 50px;
}

.hero-text h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero-text p {
    font-size: 1.2em;
    line-height: 1.6;
}

.hero-image img {
    width: 600px;
    height: 500px;
    padding: 0px;
    margin: -50px;
    border-radius: 20px 0 0 20px;
}

/* ============= Today's Featured Article Updates ==================== */

.daily-update {
    display: block;
    background-color: #f2f2f2;
    padding-bottom: 3rem;
}

.daily-update h2 {
    margin: 1rem 0 1rem 9rem;
    padding: 1rem;
    height: 4rem;
    width: fit-content;
    font-weight: bold;
}
.cust-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem 5rem 1rem 5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cust-card img {
    height: 500px;
    width: 55rem;
    cursor: pointer;    
}
.cust-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 0 2rem;
    text-align: left;
    height: 500px;    
}
.cust-card .card-body h5 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #007eaf;
}

.cust-card .card-body h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #666;
}
.cust-card .card-body h4:hover {
    text-decoration: underline;
    cursor: pointer;  
}

.cust-card .card-body p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: justify;
    text-justify: inter-word;
}





/* ============================ Drop Down Buttons style ============================= */
.dropdown-card {
    /* position: relative; */
    display: inline-block;
}
.dropbtn-card {
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative; /* Positioning context for the pseudo-element */
    outline: none;

}

.dropbtn-card::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px; /* Height of the border */
    background-color: #0073e6; /* Color of the border */
    position: absolute;
    left: 0;
    bottom: 0; /* Position the border at the bottom */
    transform: scaleX(0); /* Initially hide the border */
    transition: transform 0.3s ease; /* Animation */
}
.dropbtn-card:hover::after {
    transform: scaleX(1); /* Show the border on hover */
}

.arrow {
    margin-left: 10px;
    font-size: 12px;
}
.card-content {
    display: none;
    position: absolute; 
    background-color: white;
    min-width: 300px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    left: 80px;
    top: 190px;
    z-index: 1000;
    border-radius: 6px;
    width: 70rem;
}
.card-section {
    padding: 5px 10px;
    margin-bottom: 15px;
    background: #f0f0f0;
    border-radius: 6px;
}
.card-section h4 {
    margin: 0;
    color: #333;
}
.card-section p {
    margin: 5px 0;
    color: #666;
}

.card-section a {
    text-decoration: none;
    color: red;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    width: fit-content;
}
.card-section a:hover {
    text-decoration: underline;
}

.card-content.show {
    display: block;
}

/* ========================== Nav Btn dropdown card ================ */
.mega-card {
    display: flex;
  }
  .mega-card .col {
    padding: 20px;
    background-color: #fff;
  }
  .mega-card a { 
    text-decoration: none;
    display: flex;
    color: #666;
    font-weight: 400;
  }
  .mega-card a:hover {
    text-decoration: underline;
  }

/* ==================== Become RDN page =================================== */

.main-poster {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background:#028fc7;
    margin-top: -10px;
}
.main-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left; 
    color: #333;
}
.main-content h1 {
    color: #fff;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 20px;
}
.main-content p {
    color: #fff;
    font-weight: lighter;
    font-size: 20px;
}
/* Dotted pattern on the right */
.dots {
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.3) 100%, rgba(255, 255, 255, 0) 100%);
    mask-image: radial-gradient(circle at center, black 20%, transparent 20%);
    mask-size: 10px 10px;
}

.rdn-work {
    margin: 5rem 10rem 5rem 5rem;
}
.rdn-work h3 {
    font-weight: bold;
}
.rdn-work p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    text-align: justify;
    text-justify: inter-word;
    width: 75rem;
}
.rdn-work h4 {
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.rdn-work ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    text-align: justify;
    text-justify: inter-word;
    width: 75rem;
}
.rdn-work ul li {
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    text-align: justify;
    text-justify: inter-word;
}



/* =================================== Footer =========================== */

footer {
    background-color: #f8f8f8;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h3 {
    color: #333;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #0073e6;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

/* ========================= Stady 3 Cards =============================== */
.custom-card {
    perspective: 1000px;
    cursor: pointer;
    width: 500px;
    text-align: center;
    font-weight: bold;
}

.custom-card .card {
    transform: scale(0.95);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.custom-card .card:hover {
    transform: scale(1);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}

.custom-img {
    object-fit: cover;
    height: 200px; /* Adjust height as needed */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


/* =============================== Flouting cards ========================= */
.title-fcards{
    margin: 1rem 0 1rem 7rem;
    padding: 1rem;
    height: 4rem;
    width: fit-content;
}

.wrapper{
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.container{
    position: relative;
}

.container .fcard{
    width: 400px;
    height: 350px;
    border-radius: 15px 15px 0 0;
    background: white;
    margin: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
}

.container .fcard:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    z-index: 1;
}

.fcard {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: all 0.3s ease-in-out;
  }

  .info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .post {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    transition: all 0.3s ease;
  }

  .about {
    flex-grow: 1;
  }

  /* Style for Learn More link */
  .info a {
    margin-top: auto;
    text-decoration: none;
    color: red;
    font-weight: bold;
    transition: all 0.3s ease;
  }

  .fcard:hover .post,
  .fcard:hover .info a {
    text-decoration: underline;
  }

.owl-carousel .owl-stage{
    display: flex;
    justify-content: center;
}

.owl-carousel .owl-item{
    display: flex;
    justify-content: center;
}

.owl-nav .owl-prev{
    position: absolute;
    top: calc(50% - 25px);
    transform: translateY(-50%);
    left: -10px;
    font-size: 50px !important;
    opacity: 1;
    z-index: 1;
}

.owl-nav .owl-next{
    position: absolute;
    top: calc(50% - 25px);
    transform: translateY(-50%);
    right: -10px;
    font-size: 50px !important;
    opacity: 1;
    z-index: 1;
}

.owl-dots{
    margin-bottom: 30px;
}

.owl-dots .owl-dot span{
    background: black !important;
}

.owl-dots .owl-dot.active span{
    transform: scale(1.6);
    background: #fff !important;
    border: 2px solid #0073e6;
}


